.container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 20px;
    column-gap: 10px;
    align-items: center;
  }
  /* Remove bullets from unordered lists */
ul {
  list-style-type: none; 
}

  li {
    padding: 10px 15px; 
    margin: 5px 0; 
    border: 5px solid #cccccc78; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
    
  }


